{{template "base" .}}

{{define "title"}}
    Payment Successful
{{end}}

{{define "content"}}
    <h2 class="mt-5">Payment Successful</h2>
    <hr>
    <p>Transaction ID: {{index .Data "payment_intent"}}</p>
    <p>Cardholder Name: {{index .Data "name"}}</p>
    <p>Cardholder Email: {{index .Data "email"}}</p>
    <p>Payment Method: {{index .Data "payment_method"}}</p>
    <p>Payment Amount: {{index .Data "payment_amount"}}</p>
    <p>Payment Currency: {{index .Data "payment_currency"}}</p>
{{end}}