{{define "body"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta name="http-equiv" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hey there,</p>
        <p>You recently requested a link to reset your password</p>
        <p>Click <a href="{{.Link}}">here</a> to reset your password</p>
        <p>--<br>Widgets Co.</p>
    </body>
</html>
{{end}}